@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::selection {
  background: rgb(0, 123, 255, 0.3);
}
.content {
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 25px 0;
  transition: all 0.3s ease;
}
.navbar.sticky {
  background: #1b1b1b;
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}
.navbar .content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .logo a {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.navbar .menu-list {
  display: inline-flex;
}
.menu-list li {
  list-style: none;
}
.menu-list li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover {
  color: #007bff;
}
.banner {
  background: url("banner.jpg") no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.about {
  padding: 30px 0;
}
.about .title {
  font-size: 38px;
  font-weight: 700;
}
.about p {
  padding-top: 20px;
  text-align: justify;
}
.icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}
@media (max-width: 1230px) {
  .content {
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .content {
    padding: 0 40px;
  }
}
@media (max-width: 900px) {
  .content {
    padding: 0 30px;
  }
}
@media (max-width: 868px) {
  body.disabled {
    overflow: hidden;
  }
  .icon {
    display: block;
  }
  .icon.hide {
    display: none;
  }
  .navbar .menu-list {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #222;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list {
    left: 0%;
  }
  .navbar .menu-list li {
    margin-top: 45px;
  }
  .navbar .menu-list li a {
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a {
    margin-left: 0px;
  }
}

@media (max-width: 380px) {
  .navbar .logo a {
    font-size: 27px;
  }
}

/* navbar ends here  */

/* wrapper stats here */

.wrapper {
  height: 100vh;
  background: url(../images/Rectangle\ 3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.wrapper div:first-child {
  color: white;
  width: 50%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper button {
  margin-top: 2rem;
  margin: auto;
  border-radius: 50px;
  width: 120px;
  height: 34px;
  cursor: pointer;

  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 30px;
}
.wrapper h2 {
  font-size: 40px;
}
.wrapper p {
  margin: 3rem 0;
}
.vectors img {
  display: block;
  width: 80%;
}
.wrapper .vectors {
  display: flex;
  position: absolute;
  justify-content: space-around;
  top: 90%;
}

/* ready section */
.ready {
  margin-top: 15rem;
  padding: 0 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ready div:first-child {
  text-align: center;
  flex-basis: 45%;
}
.ready div:first-child aside {
  margin: 2rem 0;
}
.ready button {
  width: 220px;
  height: 50px;
  color: white;
  background: #000000;
  border-radius: 35px;
  cursor: pointer;
}
.ready div:first-child p {
  margin: 1rem 0;
}

.ready div:last-child{
    flex-basis: 50%;
}
.ready div:last-child img{
    width: 85%;
}
